<div class="container mx-auto">
  <div class="flex justify-center items-start">
    <%= image_tag 'home-header-icon.svg' %>
    <h2 class="text-4xl tracking-widest font-normal mt-5 text-[#6F1D71]">RAILS <br> AUTHENTICATION <br> SYSTEM</h2>
  </div>
  <div>
    <p class="text-2xl font-semibold mx-auto text-center mt-16 md:w-1/2">This is an app for learning how do we build completely rails authentication from scrath </p>
  </div>
  <div class="flex flex-col mt-24 md:w-1/2 justify-start items-center">
    <%= link_to 'Go to log in page', login_path, class:"text-2xl font-medium text-transparent bg-clip-text bg-gradient-to-r from-[#6F1D71] to-[#D482D6]" %>
    <%= link_to 'Go to sign up page', sign_up_path, class:"text-2xl font-medium text-transparent bg-clip-text bg-gradient-to-r from-[#6F1D71] to-[#D482D6]" %>
  </div>
  <div class="flex mt-40 justify-end items-center">
    <a href="https://www.google.com" class="text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-[#6F1D71] to-[#D482D6]">Go to source code</a>
  </div>
</div>
